* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5F5;
}


/* HEADER */

.header-main {
    display: flex;                      
    justify-content: space-between;
    align-items: center;                
    width: 100%;
    height: 70px;                      
    background-color: #C8102E;
    position: sticky;
    top: 1;                 
}

.header-main-title {
    flex-grow: 1;                      
    text-align: center;               
}

.header-main-title a {
    text-decoration: none;
    font-size: 60px;
}


.header-main-title-left,
.header-main-title-right {
    width: 3500px;                      
    text-align: center;                
}

#second-title-right a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

#second-title-left a {
    text-decoration: none;
    font-size: 30px;
    color: #F5F5F5;
}

#second-title-left a:hover, 
#second-title-right a:hover {
    background-color: #333333;
}




/* MAIN */

/* FOOTER */

.footer-container {
    background-color: 	#333333;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#tim-logo {
    display: flex;
    width: 230px;
    position: relative;
    padding-top: 5px;
}

