/* Arrière Plan */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 100vh;
    background: url('../img/background-filmfolio.jpg') repeat-x;
    animation: slide-left 20s linear infinite;
    z-index: -1;
    filter: blur(2px);
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Text millieu d'écran */

div.title {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.h1black{
    color: black;
}

ul {
    text-align: center;
}

/* BOUTON */

/* Souris pas dessus */
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

li {
    display: inline;
    margin: 15px;
    padding: 10px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    font-size: 25px;
}

/* Souris dessus */
li:hover{
    padding: 10px;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.2); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
}

a:hover{
    color: white;
    padding: 25px;
    transition: 0.5s;
}

p {
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
}