*{
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2E3A88;
    padding: 1% 0%;
}

header a {
    text-decoration: none;
}

#main-title  {
    font-size: 300%;
}

#second-title-right {
    margin: 0% 20% 0% 0%;
    text-transform: uppercase;
    font-size: 145%;
}

#second-title-left {
    margin: 0% 0% 0% 20%;
    text-transform: uppercase;
    font-size: 145%;
}

#second-title-left:hover {
    margin: 0% 0% 0% 19vh;
    text-transform: uppercase;
    font-size: 145%;
    background-color: #F3D84C;
    padding: 1vh;
    border-radius: 1vh;
    border-width: 0.5vh;
    border-color: black;
    border-style: solid;
    transition: 0.5s;
    
}

#main-title a {
    color: #F9F9F9;
}

#second-title-right a , #second-title-left a {
    color: #E94E77;
    
}

#second-title-right:hover a, #second-title-left:hover a {
    color: #FFFFFF;
}

