* {
    margin: 0;
    padding: 0;
}

.header-main {
    width: 100%;
    height: 60px;
    background-color: #DD0426;
}

.header-main-nav {
    line-height: 60px;
    display: flex;
    justify-content: space-between;
}
.back h6 a{
    width: 260px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    display: block;
}

.back h6 a:hover{
    color: black;
}

.header-main-title h1{
    width: 300px;   
    text-align: center;
    margin-right: 300px;   
    display: block;
    color: white;
}




/* MAIN */


main img {
    width: 300px;
    height: 400px;
}

.hero-main {
    width: 300px;
    height: 400px;
    border-style: solid ;
    transition: 1s ease;
    display: flex;
    
}
    
.hero-main:hover {
    width: 900px;
    height: 400px;
    border-style: solid ;
    transition: 0.5s ease-in-out;
}

/* Le bloc d'informations (avatar) est caché par défaut */
.hero-main-avatar {
    left: 100%;
    margin-left: 10px;
    color: black;
    padding: 10px;
    border-radius: 8px;
    width: 600px;
    opacity: 0;  /* Cacher au départ */
    pointer-events: none;  /* Empêcher l'interaction avant survol */
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s ;
}

.hero-main-avatar h2 {
    color: rgb(255, 0, 58);
}

/* Affichage de .hero-main-avatar au survol de .hero-main */
.hero-main:hover .hero-main-avatar {
    opacity: 1;  /* Rendre visible */
    pointer-events: auto;  /* Autoriser l'interaction */
}

.hero-main-description {
    margin: 1vh 2vh;
    height: 80px;
}

.hero-main-stat {
    margin: 4vh 2vh ;
}

.html-competence,.css-competence,.javascript-competence,.photoshop-competence,.audio-competence,.photo-competence {
    height: 10px;
    border-style: solid;
    border-width: 4px;
    border-width: 3px ;
    border-radius: 15px;
    border-color: rgb(255, 0, 58);
    background-color: rgb(255, 255, 255);
}   

/* JEREMY THERIAULT HERO */
#jeremy-html {
    width: 85%;
    height: 10px;
    background-color: #db2473;
    background-color: #db2473;border-radius: 15px;
}

#jeremy-css {
    width: 60%;
    height: 10px;
    background-color: #db2473;
    border-radius: 15px;
}

#jeremy-javascript {
    width: 0%;
    height: 10px;
    background-color: #db2473;
    border-radius: 15px;
}

#jeremy-photoshop {
    width: 80%;
    height: 10px;
    background-color: #db2473;
    border-radius: 15px;
}

#jeremy-audio {
    width: 83%;
    height: 10px;
    background-color: #db2473;
    border-radius: 15px;
}

#jeremy-photo {
    width: 92%;
    height: 10px;
    background-color: #db2473;
    border-radius: 15px;
}







/* Footer */

.footer {
    width: 100%;
    height: 110px;
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: space-between;
}

.footer-main {
    
    display: flex;
    width: fit-content;
    gap: 20px;
}

.tim-logo img{
    margin-top: 60px;
    width: 80px;
    height: 30px;
}

.footer-message h6{
    width: 330px;
    margin-top: 70px;
    font-size: 15px;
    color: aliceblue;
}

.footer-main-2 {
    width: fit-content;
    display: flex;
}
.footer-main-about-us {
    width: 170px;
}
.footer-main-about-us h5{
    width: 250px;
    margin: 10px 0px;
    font-size: 15px;
    color: aliceblue;
}

.footer-main-about-us ul li  {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}
.footer-main-about-us ul li a {
    text-decoration: none;
    color: aliceblue;
}

.footer-main-contact-us {
    width: 200px;
}

.footer-main-contact-us h5{
    width: 100px;
    margin: 10px 0px;
    font-size: 15px;
    color: aliceblue;
}

.footer-main-contact-us ul li {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}
.footer-main-contact-us ul li a{
    text-decoration: none;
    color: aliceblue;
}
